@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

body{
    overflow-x: hidden;
    background-color: #59DCCC;
}

header{
    top: 5%;
    position: fixed;
    width: 35vw;
    left: 50%;
    transform: translateX(-50%);
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    position: fixed;
    right: 0;
    border-radius: 15pt;
    width: 7vw;
}

a{
    font-size: 1.5vw;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;   
}

/*TODO a hover*/

h1{
    margin: 0;
    font-family: 'Cookie', cursive;
}

.fol{
    position:absolute;
    left: 50%;
    color: white;
    transform: translateX(-60%);
    top: 20%;
    font-size: 4vw;
}

.tli{
    position:absolute;
    left: 50%;
    color: white;
    transform: translateX(-57%);
    top: 25%;
    font-size: 6vw;
}

.handpc{
    position: absolute;
    top: 33%;
    left: 30%;
}

.handimg{
    width: 40vw;
}

.pcimg{
    width: 35vw;
}

#footer {
    position: absolute;
    /*top: 150vh;*/
}

#componentes{
    background-color: white;
    position: absolute;
    top: 150vh;
    left: 0;
}

.card{
    width:40vw;
    height: 17vw;
    background-color: #F0F0F0;
    box-shadow: 1px 1px 1px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 5vw;
    margin-right: 5vw;
    border-radius: 5px;
}

#ph{
    width: 17vw;
    background-color: #59DCCC;
}

.lin{
    display: flex;
    flex-direction: row;
    margin-bottom: 5vh;
}

.ondacima{
    margin-bottom: 1vh;
}

#ultima{
    justify-content: center;
}

#lcard{
    transform: translate(-50%);
}